# Core
pandas>=1.5
numpy>=1.23
scikit-learn>=1.1
xgboost>=1.7
joblib>=1.2

# Hyperparameter Optimization
optuna>=3.1
plotly>=5.15
matplotlib>=3.6

# Model Interpretability
shap>=0.42

# API
fastapi>=0.95
uvicorn[standard]>=0.22

# Logging und CLI
python-dotenv>=1.0



